<div class="main">
  <div class="share-footer">
    <div class="contents">
      <div class="contet">
        <div class="content-buy">
          <b>購入したい</b>
        </div>
        <div class="buy-lists">
          <li>farm-chef</li>
          <li>食品基準</li>
          <li>ご利用ガイド</li>
          <li>品質保証</li>
          <li>飲食店</li>
          <li>イベント主催</li>
        </div>
      </div>

      <div class="contet">
        <div class="content-buy">
          <b>出品したい</b>
        </div>
        <div class="buy-lists">
          <li>出品者募集</li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </div>
      </div>

      <div class="contet">
        <div class="content-buy">
          <b>farm-chefについて</b>
        </div>
        <div class="buy-lists">
          <li>運営会社f</li>
          <li>よくある質問</li>
          <li>お問い合わせ</li>
          <li>利用規約</li>
          <li>プライバシー</li>
          <li>特定商取引</li>
        </div>
      </div>

      <div class="contet">
        <div class="content-buy">
          <b>その他</b>
        </div>
        <div class="buy-lists">
          <li>farm-chef</li>
          <li>farm-chefマガジン</li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </div>
      </div>
    </div>
  </div>
</div>