<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

  <div class="new-post">
  <li><%= link_to '新規POST', root_path, class: :post__btn %></li>
  </div>

  <button>
  <a href="#">ボタン</a>
</button>