/*ヘッダーアイコン*/
.farm-chef-icon{
  width: 100px;
  margin: 5px 20px;
}

/*共通ヘッダー*/
.share-header{
  background-color: #ffffff;
  height: 100px;
  display: flex;
}

.search-bar-contents{
  padding-top: 30px;

  margin-left: auto;
  margin-right: auto;
}

.search-button{
  background-color: #E8E5BD;
  color: #111;
  font-size: 100%;
  width: 80px;
  height: 40px;
  border-radius: 20px;
}

.input-box{
  width: 200px;
  height: 35px;
}



.profile-icon{
  width: 20px;
  height: 28px;
  margin-left: 15px;
  
}

.my-profile-area{
  margin-right: 20px;
}

.user-bar{
  display: flex;
  padding: 20px 40px;
  padding-right: 10%;
  background-color: #f1f1f1;

}




.hidden{
  display: none;
}