.main{
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*farm-chefの横長ロゴ*/
.top-main-contents{
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.heading-img{
  text-align: center;
  margin-top: 10%;
  padding: 10px 100px;
  height: 20px;
}

.farm-chef-heading-icon{
  width: 80%;
  max-width: 600px;
}
/*トップメッセージ*/
.concep-message{
  display: flex;
  justify-content: center;
}


.concep-message p{
  font-size: 200%;
  text-align: center;
  padding-top: 50%;
}


.service-massage-img{
  width: 100%;
  
}

.service-massages{
  position: relative;
}

.service-vision{
  padding: 10px 15px;
  width: 70%;
  max-width: 500px;
  font-size: 200%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.349);
  position: absolute ;
  top: 20%;
  left: 10%;
}

.header-ber-lists{
  position: absolute ;
  left: 75%;
  color: #454545;
  background-color: rgb(213, 213, 213);
}


.arrow-img{
  width: 100px;
}

.arrow-area{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}


/*サービスの説明*/
.service-description{
  height: 400px;
  background-color: rgb(234, 234, 234);
}

.service-description-title{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

/*生産者と料理人を探す*/
.search-user{
  display: flex;
  justify-content: center;
}

.search-users{
  max-width: 100%;
}
.user-box-left{
  width: 100%;
  max-width: 600px;

}

.user-box-right{
  width: 100%;
  max-width: 599.8px;
}

.user-description{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  color: #fff;
  font-size: 25px;
  padding: 20px 0;

}

.search-user-garlic-img{
  width: 100%;
  position: relative;
}

.search-user-calotte-img{
  width: 99.9%;
  position: relative;
}

.search-content{
  position: absolute;
  top: 20%;
}
.user-box-btn{
  padding-top: 15%;
  display: flex;
  justify-content: center;
}

.user-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #ff0000b5;
  width: 50%;
  max-width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 100%;
  padding: 0 10px;
}




/*ボタンサンプル*/
.test-btn{
  background-color: #3169d1;
  color: #fff !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .9s;
  transition: all .4s;
  margin: 10px 0 0 0;
}
.test-btn:hover{
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-2px);
}



.test-btn2{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #ff0000b5;
  width: 50%;
  max-width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 100%;
  padding: 0 10px;
  color: #fff;
  transition: 0.5s;
}
.test-btn2:hover{
  border: solid 0.5px;
  color: #ff0000;
  background-color: #ffffffb5;
  opacity: 0.5;
}


.test-btn3{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #ff0000b5;
  width: 50%;
  max-width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 100%;
  padding: 0 10px;
  color: #fff;
  transition: 0.5s;
}
.test-btn3:hover{
  border: solid 0.5px;
  color: #ff0000;
  font-weight: bold;
  background-color: #ffffff;
  opacity: 0.9;
  height: 100px;
}

/*サンプルここまで*/



.media-list-img{
  width: 100%;
}

.media-img{
  padding: 80px 40px ;
}

.top-page-posts-btn{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}


/*投稿の一部*/
.postuser-img-name-date{
  padding-top: 10px;
}

.posts-list-top{
  display: flex;
  overflow: scroll;
}

.card__img__top{
  border-radius: 30px;
}
.card-img-top{
  width: 200px;
  max-height: 160px;
  border-radius: 30px;
}

.postuser-img-top{
  padding-left: 20px;
}

.post-date-top{
  font-size: 12px;
}

.card__im__top{
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
}

.card__user__top{
  font-size: 14px;
  color: #454545;
  font-weight: bold;
  text-decoration: none;
}

.card-text-top{
  width: 200px;
}

.card__text__top{
  font-size: 14px;
  text-decoration: none;
  color: #3b3b3b;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}


/*スライダー部分*/

.out{
    position: relative;
}
.in img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
    z-index: 0;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.out input{
    display: none;
}
.in{
    display: flex;
    justify-content: center;
}
label span{
    display: block;
    width: 15px;
    height: 15px;
    padding: 7px;
    margin: -40px 0 0;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
label span::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #4287f5;
    opacity: 0.5;
    border-radius: 100%;
}            
input:nth-of-type(1):checked ~ .in label:nth-of-type(1) span::before,
input:nth-of-type(2):checked ~ .in label:nth-of-type(2) span::before,
input:nth-of-type(3):checked ~ .in label:nth-of-type(3) span::before,
input:nth-of-type(4):checked ~ .in label:nth-of-type(4) span::before{
    background: #000;
    opacity: 1;
}
label span::before{
    animation: slidebutton 14s infinite;
}
@keyframes slidebutton{
    0%{opacity: 0.5;background: #4287f5;}
    3.5%{opacity: 1;background: #000;}/* b÷x×100=y */
    25%{opacity: 1;background: #000;}/* 100÷c=z */
    28.5%{opacity: 0.5;background: #4287f5;}/* y+z */
}            
label:nth-of-type(2) span::before,label:nth-of-type(2) img{
    animation-delay: 3.5s;
}            
label:nth-of-type(3) span::before,label:nth-of-type(3) img{
    animation-delay: 7s;
}            
label:nth-of-type(4) span::before,label:nth-of-type(4) img{
    animation-delay: 10.5s;
}            
input:nth-of-type(1):checked ~ .in label:nth-of-type(1) img,
input:nth-of-type(2):checked ~ .in label:nth-of-type(2) img,
input:nth-of-type(3):checked ~ .in label:nth-of-type(3) img,
input:nth-of-type(4):checked ~ .in label:nth-of-type(4) img{
    opacity: 1;
    z-index: 1;
}
.in img{
    animation: slide 14s infinite;/* (a+b)×c=x */
    opacity: 0;
}

@keyframes slide{
    0%{opacity: 0;}
    3.5%{opacity: 1;z-index: 1;}/* b÷x×100=y */
    25%{opacity: 1;}/* 100÷c=z */
    28.5%{opacity: 0;z-index: 0;}/* y+z */
}

input:checked ~ .in img,input:checked ~ .in span::before{
    animation: none;
}
/*.in:hover img,.in:hover span::before{
    animation-play-state:paused;/* マウスを載せると一時停止 */
/*}*/




.sample-roll{
  height: 1000px;
}

