.page-title{
  display: flex;
  justify-content: center;
  padding-top: 180px;
  font-size: 200%;
}

.red-line{
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 400px;
  height: 1.5px;

}

.post__detail{
  display: flex;
  justify-content: center;
}
.profile-image{
  width: 80%;
  max-width: 600px;
  border-radius: 40px;

}

.profile-image-wrapper{
  display: flex;
  justify-content: center;
}

/*フォローボタン*/
.follow-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #00E2FF;
  width: 30%;
  max-width: 400px;
  height: 60px;
  border-radius: 20px;
  font-size: 150%;
  padding: 0 40px;
}

.follow-info{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/*ユーザー詳細情報*/
.user-info{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.user-info-list{
  display: flex;
  justify-content: space-around;
  border:1px solid #70707057;
  width: 400px;
  margin: 3px;
  padding: 20px 40px;
}

.table__col1{
  color: #707070;
}

.table__col2{
  text-align: center;
  font-size: 150%;
  width: 70%;
}

.table__col3{
  text-align: center;
  font-size: 100%;
  width: 70%;
}

/*DM蘭*/
.message-main{
  /*display: flex;
  justify-content: center;*/
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(235, 235, 235);
  border:1px solid #70707057;
  height: 100px;
  width: 500px;
  margin-top: 80px;
  list-style: none;
}

.dm-title{
  display: flex;
  justify-content: center;
}




/*プロフィール編集ボタン*/
.user-edit-btn{

}
.edit-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #00a2ffb5;
  width: 30%;
  max-width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/*ホームボタン*/
.top-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #ff0000b5;
  width: 30%;
  max-width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 100%;
  padding: 0 10px;
}

.home-btn{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/*料理人と生産者の一覧画面*/
.users-list{
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.farmer-lists{
  width: calc((90% - 50px) / 3);
  margin: 10px 10px;
}

.chef-lists{
  width: calc((90% - 50px) / 3);
  margin: 10px 10px;
}

.profile__img{
  padding: 20px 20px;
}

.card__user__name{
  text-decoration: none;
  color: #565656;
  font-weight: bold;
  font-size: 14px;
}

.card__user__text{
  font-size: 14px;
  text-decoration: none;
  color: #565656;
}


.users-list-wrapper{
  padding: 0 20px;

}

.users-list-end-btn{
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.users-main{
  display: flex;
  justify-content: center;
}
